body{
    background-color: rgb(100, 100, 100);
}
#main{
    background-color: white;
    height: 96vh;
    width: 90%;
    margin: auto;
    margin-top: 2vh;
    border-radius: 20px;
    box-sizing: border-box;
    padding-top: 20px;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid rgb(100, 100, 100);
    height: 10vh;
    width: 97%;
    border-radius: 20px;
    margin: auto;
    border: 2px solid red;
}
#icon{
    display: flex;
    align-items: center;
    width: 30%;
}
.logo_text{
    text-wrap: nowrap;
}
.cons{
    height: 50px;
    width: 50px;
}
#nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: auto;
    padding: 0px;

}
.links:link, .links:visited{
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 20px;
    color: rgb(100, 100, 100);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.links:active, .links:hover{
    background-color: rgb(100, 100, 100);
    color: white;
}
#logs{
    width: 30%;
}
#logs ul{
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 0px;
}
.lnks:link, .lnks:visited{
    background-color: #c8c8c8;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 20px;
    color: black;
    margin: 5px;
}
.lnks:active, .lnks:hover{
    background-color: rgb(100, 100, 100);
    color: white;
}
#body{
    width: 70%;
    margin: auto;
    align-items: center;
}
#mainsect{
    display: flex;
    width: 100%;
    height: 15vh;
}
#sect{
    background-color: rgb(200, 200, 200);
    border-radius: 20px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    margin: auto;
    text-align: center;
}
#mainwriteup{
    display: flex;
    align-items: center;
    width: 100%;
    height: 15vh;
}
#writeup{
    align-items: center;
    width: 80%;
    height: 11vh;
    margin: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    font-weight: bold;
}
#span{
    color: rgb(100, 100, 100);
}
#maincomment{
    display: flex;
    align-items: center;
    width: 100%;
    height: 15vh;
}
#comment{
    width: 50%;
    margin: auto;
    text-align: center;
}
#mainfooter{
    display: flex;
    align-items: center;
    height: 28vh;
    width: 100%;
}
#footer{
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    height: 28vh;
    width: 97%;
    margin: auto;
}
.main-img{
    height: 28vh;
    width: 13vw;
}
.img{
    height: 28vh;
    width: 13vw;
    border-radius: 20px;
}
#button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}
button{
    background-color: rgb(100, 100, 100);
    border-radius: 20px;
    color: white;
    height: 30px;
    width: 120px;
}
.list_menu{
    display: none;
}

@media screen and (max-width: 900px){
    *{
        box-sizing: border-box;
    }
    #header{
        display: flex;
        border: 2px solid blue;
        margin: 0px;
        margin: auto;
   }
   #nav{
    visibility: hidden;
   }
   #logs{
    visibility: hidden;
   }
   .cons{
    height: 70px;
    width: 70px;
   }
   .logo_text{
    font-size: 40px;
   }
   #mainsect{
    display: none;
   }
   #mainwriteup{
    overflow: hidden;
    height: 120px;
    width: 387px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    box-sizing: border-box;
   }
   #writeup{
    /* text-align: left; */
    overflow: hidden;
    font-size: 30px;
    height: 150px;
    margin-bottom: 0px;
    margin: auto;
   }
   #maincomment{
    height: 130px;
    margin: 0px 58px;
   }
   #body{
    margin: 0px;
   }
  
}