
.header{
    position: fixed;
    width: 8%;
    height: 100vh;
    background-color: #1b1a1a;
    float: left;
    overflow: hidden;
}
.header_logo{
    display: block;
    width: 100%;
    height: 20%;
    background-image: url(Pictures/WhatsApp\ Image\ 2025-03-28\ at\ 19.23.37_e1046dd2.jpg);
    background-repeat: no-repeat;
    background-size: 120% 100%;
    opacity: 0.8;
}
.my_logo{
    height: 20%;
    width: 100%;
}
.navigation{
    height: fit-content;
    position: relative;
    overflow: hidden;
    align-content: start;
}
ul{
    width: 100%;
}
.nav_icon{
    display: block;
    width: 30%;
    display: inline;
}
li{
    display: block;
    height: 100px;
    width: 100%;
}
.first_link{
    display: none;
    width: 100%;
    height: 100%;
    display: inline-block;
    align-content: center;
    text-align: center;
    font-size: 14px;
    font-weight: 450;
    background-color: #1b1a1a;
}
.first_link:hover{
    background-color: #000000;
}


.container{
    overflow: hidden;
    width: 92%;
    margin: 0px  0px 0px 8%;
}
.first_page{
    padding: 40px 0px 0px;
}
.gashman{
    font-size: 60px;
}
.myimg_holder{
    height: fit-content;
    width: fit-content;
}
.my_portrait{
    height: 80vh;
    width: 119%;
    padding: 0 0 0 0;
}
.name{
    font-size: 40px;
}
.details{
    font-size: 20px;
    line-height: 24px;
    color: #b4b4b4;
}
.skills{
    font-size: 40px;
}
.first_skill{
    font-size: 28px;
    padding: 0 0 10px 0px;
    color: #ffffff;
}
.completion{
    display: flex;
    padding-top: 50px;
}
.completed{
    width: 20%;
    font-size: 20px;
    font-weight: 350;
    background-color: #ffffff;
}
.download{
    width: 20%;
    background-color: #ffffff;
}
a{
    text-decoration: none;
}
.price{
    font-size: 40px;
    padding-top: 50px;
}
.price_container{
    display: flex;
}
.price_box{
    width: 49%;
}
.box1{
    margin-right: 1%;
}
.box2{
    margin-left: 1%;
}
.projects_{
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.no_projects{
    color: #ffffff;
    font-family: Roboto;
    color: #b4b4b4;
    padding-bottom: 10px
}
.project1{
    font-family: Roboto;
}
.form_head{
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 10px;
}
.send_message{
    width: 20%;
    background-color: #ffffff;
}