body{
    background-color: rgb(170, 125, 170);
}

#div1{
    display: flex;
    background-color: rgb(49, 18, 49);
    margin: auto;
    margin-top: 3%;
    width: 75%;
    height: 86vh;
    border-radius: 20px;
}
#div2{
    background-image: linear-gradient(rgba(192, 12, 192, 0.699), rgb(131, 12, 131), rgb(51, 5, 51));
    background-repeat: no-repeat;
    
    background-size: cover;
    margin-top: 2%;
    margin-left: 2%;
    width: 47%;
    height: 80vh;
    border-radius: 20px;
}
#div3{
    margin-top: 3%;
    margin-left: 2%;
    width: 47%;
    height: 60vh;
    border-radius: 20px;
}
form{
    width: 100%;
    margin-left: 3.5vw;
}
input{
    width: 75%;
    height: 30px;
    padding: 10px, 15px;
    margin: 8px;
    font-size: 18px;
    border: 1px solid ;
    border-radius: 5px;
}
.half{
    width: 35.2%;
}
input[type=checkbox]{
    width: 15px;
    height: 15px;
}
input[type=submit]{
    background-color: rgb(170, 125, 170);
    width: 26.5vw;
}
input[type=submit]:hover{
    background-color: rgb(87, 52, 87);
}
input:focus {
    background-color: rgb(188, 221, 231);
  }
  #h1, #p{
    color: white;
    width: 100%;
    margin-left: 10px;
  }
  #or{
    color: white;
    width: 100%;
    text-align: center;
  }
  hr{
    width: 75%;
    margin: auto;
    margin-left: 4vw;
  }
  nav{
    width: 100%;
    margin-top: 7vh;
    margin-left: 4.5vw;
  }
  .link{
    background-color: white;
    width: 10vw;
    padding: 10px 50px;
    border: 1px solid white;
    margin: 20px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
  }
  .img{
    height: 15px;
    width: 15px;
  }
  #omo{
    display: flex;
    width: 100%;
  }
  #omo1{
    margin: 2vh;
    width: 3vw;
    height: 6vh;
    border-radius: 100px;
  }
  #omo2{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    background-color: white;
    opacity: 0.5;
  }