body{
    background-color: rgb(187, 152, 187);
}
#body{
    display: flex;
    background-color: rgb(83, 49, 83);
    border-radius: 20px;
    margin: auto;
    margin-top: 8vh;
    width: 80%;
    height: 85vh;
}
#body2{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    border-radius: 20px;
    width: 76vw;
    height: 80vh;
    margin: auto;
}
#picture{
    justify-content: flex-start;
    background-color: aquamarine;
    border-radius: 20px;
    width: 37vw;
    height: 80vh;
    margin: auto;
}
#form-container{
    border: 1px solid black;
    border-radius: 20px;
    width: 37vw;
    height: 80vh;
    margin: auto;
}
h1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: lighter;
}
p{
    text-align: center;
    color: white;
}
form{
    text-align: center;
}
input{
    background-color: rgb(230, 208, 230);
    font-size: 20px;
    width: 23vw;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
}
input:focus{
    background-color: white;
    border: 3px solid rgb(200, 200, 200);
}
input[type=checkbox]{
    margin: auto;
    margin: 0%; 
    width: 20px;
}
#checkbox{
    display: flex;
}
.lnk{
    color: rgb(187, 152, 187);
}
#create{
    background-color: rgb(219, 37, 219);
    border: none;
    border-radius: 5px;
    color: white;
    height: 5vh;
    width: 25.5vw;
}
#butts{
    background-color: red;
    display: flex;
    height: 10vh;
    width: 25.5vw;
    justify-content: space-between;
    margin: auto;
}
.butts2{
    font-family: 'Times New Roman', Times, serif;
    height: 40px;
    padding: 0px 65px;
    border: none;
    border-radius: 5px;
}